

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 30px auto;
}

.header {
    text-align: center;
}

.header h4 {
    color: #e24d16;
    margin-bottom: 20px;
}

.header h2 {
    font-size: 25px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.person{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
}

.part {
    box-shadow: 0px 7px 7px gray;
}

.part img {
    width: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    
}

.content {
    border-top: 6px solid #e24d16;
    background-color: black;
    padding: 20px 20px;
    
}

.content h3 {
    color:aliceblue;
    font-weight: 600;
    margin-bottom: 10px;
}

.content p {
    color: antiquewhite;
}


.main {
    border-top: 6px solid #e24d16;
    background-color: black;
    padding: 20px 20px;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
}


.main h3 {
    color: aliceblue;
    margin-bottom: 15px;
}

.main p {
    color: rgb(243, 238, 231);
    margin-bottom: 15px;
    margin-bottom: 20px;

}

.icon i {
    background-color: #e24d16;
    padding: 6px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 10px;

}

.icon p {
    display: inline-block;
    color: white;
}


.main-part {
    position: relative;
}

.main-part:hover .main {
    opacity: 1;
    visibility: visible;
    transition: 0.6s;
}